<!-- =====================================================================
                                    IMPORTANTE
Este archivo html fue creado para el final de desarrollo web, y lo ensamble para
el proyecto final de JS. Este archivo no cuenta con ninguna implementacion de JS, el archivo que
tiene toda la implementaciond e JS es tienda.html y las respectivas carpetas de JS y su archivo de
css. Existen 2 archivos de css, stylejs.css es el que use para dar formato a las cosas que cree
para el tp final de JS
========================================================================-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Wikisaur tipos de dinosaurios, todos los tipos de dinosaurios que existieron en la prehistoria"
    />
    <meta
      name="keywords"
      content="WIKI, DINOSAURIOS, DINOSAUR, WIKIPEDIA, JURASSIC, PARK, PREHISTORICO, PREHISTORIC, REX, TRICERATOPS, PALEONTOLOGIA, PELICULAS"
    />
    <title>Wikisaur | Dinosaurios</title>

    <link rel="icon" href="../multimedia/img/logosmall.png" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />

    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <nav class="barra container">
        <ul class="barra__lista">
          <div class="row mb-3 justify-content-center">
            <li class="col-6 col-lg-3">
              <h1 class="barra__lista__logo">wikisaur</h1>
            </li>
          </div>
          <div class="row justify-content-center mt-5">
            <li class="col-4 col-lg-2 fs-lg-3 fs-6 mt-3">
              <a href="../index.html" class="barra__lista__links">Home</a>
            </li>
            <li class="col-4 col-lg-2 fs-lg-3 fs-6 mt-3">
              <a href="./history.html" class="barra__lista__links">Historia</a>
            </li>

            <li class="col-4 col-lg-2 fs-lg-3 fs-6 mt-3">
              <a href="./dinosaurs.html" class="barra__lista__links"
                >Especies</a
              >
            </li>
            <li class="col-5 col-lg-3 fs-lg-3 fs-6 mt-3">
              <a href="./paleontology.html" class="barra__lista__links"
                >Paleontologia</a
              >
            </li>
            <li class="col-5 col-lg-2 fs-lg-3 fs-6 mt-3">
              <a href="./Tienda.html" class="barra__lista__links">Tienda</a>
            </li>
          </div>
        </ul>
      </nav>
    </header>
    <main>
      <h2 class="dinosaurios__titulo">ESPECIES</h2>
      <section class="especie">
        <h2 class="especie__titulo">Tyrannosaurus rex</h2>
        <article class="especie__data row justify-content-center">
          <div class="especie__data__info col-12 col-md-7">
            <p class="especie__data__info__parrafo">
              <em><b>Tyrannosaurus rex</b></em> (del griego latinizado
              <em>tyrannus</em> 'tirano' y <em>saurus</em> 'lagarto', y el latín
              rex, 'rey'), es la única especie conocida del género fósil
              Tyrannosaurus de dinosaurio terópodo tiranosáurido, que vivió a
              finales del período Cretácico, hace aproximadamente entre 68 y 66
              millones de años, en el Maastrichtiense, en lo que es hoy América
              del Norte. Su distribución en el continente fue mucho más amplia
              que otros tiranosáuridos. Comúnmente abreviado como T. rex, y
              castellanizado como <strong>tiranosaurio</strong> es una figura
              común en la cultura popular. Fue uno de los últimos dinosaurios no
              avianos que existieron antes de la extinción masiva del
              Cretácico-Terciario.
            </p>
            <p class="especie__data__info__parrafo">
              Fue un <strong>carnívoro</strong> bípedo con un enorme cráneo
              equilibrado por una cola larga y pesada. En relación con sus
              largos y poderosos miembros traseros, los miembros superiores de
              Tyrannosaurus eran pequeños, pero sorprendentemente fuertes para
              su tamaño, y terminaban en dos dedos con garras. Aunque otros
              terópodos rivalizan o superan a Tyrannosaurus rex en tamaño,
              todavía es el mayor tiranosáurido conocido y uno de los mayores
              depredadores conocidos de la Tierra, midiendo entre 12 a 13 metros
              de largo, 4 metros de altura hasta las caderas, y con pesos
              estimados entre 6 a 9 toneladas. Durante mucho tiempo fue el mayor
              carnívoro de su ecosistema; debió de haber sido el superpredador,
              cazando hadrosáuridos y ceratópsidos, aunque algunos expertos han
              sugerido que era principalmente carroñero.
            </p>
            <p class="especie__data__info__parrafo">
              Hay más de 30 especímenes de Tyrannosaurus rex identificados,
              algunos de los cuales son esqueletos casi completos. Se han
              encontrado tejido conjuntivo y proteínas en por lo menos uno de
              estos especímenes. La abundancia de material fósil ha permitido
              investigar en detalle muchos aspectos de su biología, incluyendo
              su ciclo de vida y su biomecánica. Los hábitos de alimentación, la
              fisiología y la velocidad potencial de Tyrannosaurus rex son
              objeto de controversia. Su taxonomía es también polémica, con
              algunos científicos que consideran a Tarbosaurus bataar de Asia
              como una segunda especie de Tyrannosaurus mientras otros mantienen
              a Tarbosaurus como género separado. Varios otros géneros de
              tiranosáuridos norteamericanos también han sido sinonimizados a
              Tyrannosaurus.
            </p>
          </div>
          <!-- genero una tabla de manera manual utilizando grid de boostrap -->
          <div class="especie__data__tabla col-12 col-md-5">
            <div class="row justify-content-center">
              <div class="col-12 especie__data__tabla__titulo">INFORMACION</div>
            </div>
            <div class="row align-content-center align-items-center">
              <div class="col-7 col-md-7">
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      Especie:
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">
                      Tyrannosaurus rex
                    </p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      Localización
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">Norteamérica</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">Hábitat</p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">Bosques</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      alimentación
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">Carnívoro</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">Altura</p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">
                      4.6 - 61.1 mt
                    </p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      Longitud
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">
                      11.1 - 12.3 mt
                    </p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">Peso</p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">7 toneladas</p>
                  </div>
                </div>
              </div>
              <div class="col-5 col-md-5">
                <img
                  src="../multimedia/img/tiranosaurio.png"
                  alt="tiranosaurio rex"
                  class="especie__data__tabla__imagen"
                />
              </div>
            </div>
          </div>
        </article>
      </section>
      <section class="especie">
        <h2 class="especie__titulo">Triceratops</h2>
        <article class="especie__data row justify-content-center">
          <div class="especie__data__info col-12 col-md-7">
            <p class="especie__data__info__parrafo">
              <b>Triceratops</b> (del griego
              <em
                >tri-/τρι- ="tres", kéras/κέρας ="cuerno", y -ōps/-ωψ ="cara";
                "cara de tres cuernos'"</em
              >) es un genero de dinosaurios ceratopsianos ceratopsidos, que
              vivieron a finales del período Cretácico , hace aproximadamente 68
              y 66 millones de años, en el Maastrichtiense, en lo que hoy es
              Norteamerica. Es uno de los últimos géneros en aparecer antes del
              gran evento de extinción masiva del Cretácico-Terciario. Poseía
              una gran gola ósea (plataforma craneal posterior) y tres cuernos,
              un cuerpo grande sobre cuatro fornidas patas, y varias similitudes
              con respecto al moderno rinoceronte. Triceratops es uno de los más
              reconocidos de todos los dinosaurios. Aunque compartiera el
              territorio con el temible Tyrannosaurus y fuera cazado por él, no
              está claro si los dos lucharon de la manera representada a menudo
              en exhibiciones de museo o en imágenes populares.
            </p>
            <p class="especie__data__info__parrafo">
              Aún no se ha encontrado un esqueleto completo de Triceratops,
              aunque la criatura está bien documentada por numerosos restos
              parciales recogidos desde la introducción del género en 1887. La
              función de la gola y de los tres cuernos faciales distintivos ha
              inspirado largas discusiones. Aunque se vean tradicionalmente como
              armas defensivas contra depredadores, las últimas teorías proponen
              que es más probable que estas características fueron utilizadas
              durante el cortejo sexual y exhibiciones de dominancia, como la
              cornamenta de los modernos reno, la cabra blanca, o el escarabajo
              rinoceronte.
            </p>
            <p class="especie__data__info__parrafo">
              Triceratops es el mejor conocido de los ceratópsidos, pero la
              colocación exacta del género dentro del grupo ha sido sin embargo
              un punto de discusión entre los paleontólogos. Dos especies, T.
              horridus y T. prorsus, son actualmente consideradas válidas,
              aunque se han descrito muchas otras. Recientes investigaciones
              parecen apuntar a que el conocido ceratópsido, Torosaurus,
              representa una forma completamente madura de Triceratops más que
              un género aparte.
            </p>
          </div>
          <div class="especie__data__tabla col-12 col-md-5">
            <div class="row justify-content-center">
              <div class="col-12 especie__data__tabla__titulo">INFORMACION</div>
            </div>
            <div class="row align-content-center align-items-center">
              <div class="col-7 col-md-7">
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      Especie:
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">
                      Triceratops horridus
                    </p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      Localización
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">Norteamérica</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">Hábitat</p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">Bosques</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      alimentación
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">Hervívoro</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">Altura</p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">2.9 - 3 mt</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      Longitud
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">7.9 - 9 mt</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">Peso</p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">
                      5.9 - 12 toneladas
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-5 col-md-5">
                <img
                  src="../multimedia/img/triceratops.png"
                  alt="tiranosaurio rex"
                  class="especie__data__tabla__imagen"
                />
              </div>
            </div>
          </div>
        </article>
      </section>
      <section class="especie">
        <h2 class="especie__titulo">Velociraptor</h2>
        <article class="especie__data row justify-content-center">
          <div class="especie__data__info col-12 col-md-7">
            <p class="especie__data__info__parrafo">
              <b>Velociraptor</b> (del latín, <em>'ladrón veloz'</em>) es un
              género de dinosaurios terópodos dromeosáuridos que vivieron
              durante el Campaniaense, hacia finales del período Cretácico, hace
              unos 75 a 71 millones de años, en lo que es hoy Asia.
              Tradicionalmente solo se ha reconocido a una especie, V.
              mongoliensis, cuyos fósiles se han hallado en Asia Central, en
              Mongolia, pero una segunda especie, V. osmolskae, fue nombrada en
              2008 a partir de material craneal procedente de Mongolia Interior,
              en China.
            </p>
            <p class="especie__data__info__parrafo">
              Aunque más pequeño que otros dromeosáuridos como Deinonychus y
              Achillobator, Velociraptor tenía muchos rasgos anatómicos
              similares a ellos. Fue un carnívoro bípedo, con una cola larga y
              rígida, y unas garras grandes con forma de hoz en cada pata, que
              probablemente le facilitaba el matar a sus presas. A diferencia de
              otros dromeosáuridos, el velociráptor poseía un cráneo bajo y
              alargado, y un hocico chato, dirigido hacia arriba. Poseía patas
              traseras de gran longitud, lo que expresa (al igual que el nombre)
              su aparente gran velocidad.
            </p>
            <p class="especie__data__info__parrafo">
              Debido a su destacada aparición en la novela de Michael Crichton
              Parque Jurásico, Velociraptor (en la película su nombre está a
              menudo abreviado en «raptor»/«raptores») es uno de los géneros de
              dinosaurios más conocidos por el público general. También es bien
              conocido por los paleontólogos, con no menos de una docena de
              esqueletos fósiles desenterrados (la mayor cantidad descubierta de
              un dromeosáurido). Un espécimen particularmente famoso es el que
              muestra a un Velociraptor enzarzado en una batalla con un
              Protoceratops.
            </p>
          </div>
          <div class="especie__data__tabla col-12 col-md-5">
            <div class="row justify-content-center">
              <div class="col-12 especie__data__tabla__titulo">INFORMACION</div>
            </div>
            <div class="row align-content-center align-items-center">
              <div class="col-7 col-md-7">
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      Especie:
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">
                      Velociraptor mongoliensis
                    </p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      Localización
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">Asia</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">Hábitat</p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">Desiertos</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      alimentación
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">
                      Carnívoro y Carroñero
                    </p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">Altura</p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">0.7 - 1 mt</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      Longitud
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">2 mt</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">Peso</p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">15kg</p>
                  </div>
                </div>
              </div>
              <div class="col-5 col-md-5">
                <img
                  src="../multimedia/img/velociraptor.png"
                  alt="tiranosaurio rex"
                  class="especie__data__tabla__imagen"
                />
              </div>
            </div>
          </div>
        </article>
      </section>
      <section class="especie">
        <h2 class="especie__titulo">Stegosaurus</h2>
        <article class="especie__data row justify-content-center">
          <div class="especie__data__info col-12 col-md-7">
            <p class="especie__data__info__parrafo">
              <b>Stegosaurus</b> (gr.
              <em>"lagarto con tejado" o "lagarto cubierto"</em>) es un género
              con 3, probablemente 4, especies conocidas de dinosaurios
              tireóforos estegosáuridos, que vivieron a finales del período
              Jurásico, hace aproximadamente 156 y 144 millones de años, entre
              el Kimmeridgiense y el Titoniense, en lo que hoy es América del
              Norte y posiblemente Europa. Coloquialmente en español llamado
              estegosaurio. Debido a sus distintivas espinas de la cola y
              placas, Stegosaurus es uno de los más reconocidos dinosaurios. Al
              menos tres especies han sido identificadas en la porción superior
              de la Formación Morrison, del oeste de Estados Unidos, y se han
              encontrado restos de por lo menos 80 individuos. En 2006, se
              descubrió un espécimen de Stegosaurus en Portugal, lo que indica
              que este animal también estaba presente en Europa. De las especies
              que se han clasificado en la Formación Morrison superior del oeste
              de los EE. UU., solo tres son universalmente reconocidas,
              Stegosaurus stenops, Stegosaurus ungulatus y Stegosaurus sulcatus,
              con una cuarta Stegosaurus armatus siendo dudosa. Se han
              encontrado restos de más de 80 individuos de este género.
              Stegosaurus habría vivido junto a dinosaurios como Apatosaurus,
              Diplodocus , Brachiosaurus , Ceratosaurus, Allosaurus y
              Torvosaurus, siendo estos últimos sus posibles predadores.
            </p>
            <p class="especie__data__info__parrafo">
              Siendo un gran <b>herbívoro</b> cuadrúpedo, pesadamente
              constituido, Stegosaurus tenía una distintiva e inusual postura,
              con un lomo fuertemente arqueado, los miembros anteriores cortos,
              la cabeza cerca del suelo y la cola rígida sostenida en el aire.
              Debido a su combinación distintiva de placas anchas y verticales y
              cola con puntas en la punta, Stegosaurus es uno de los tipos de
              dinosaurios más reconocibles. Su arsenal de placas y de púas ha
              sido el tema de muchas conjeturas. Las espinas fueron utilizadas
              muy probablemente para la defensa, mientras que las placas también
              se han propuesto como mecanismo defensivo, y como parte de la
              exhibición y de las funciones de termorregulación. Stegosaurus
              tenía una proporción de masa cerebral a cuerpo relativamente baja.
              Tenía un cuello corto y una cabeza pequeña, lo que significa que
              probablemente comía arbustos y plantas bajos. Una de sus especies,
              Stegosaurus ungulatus, fue uno de los más grandes estegosaurianos,
              más grande que Kentrosaurus y que Huayangosaurus y aunque
              aproximadamente del tamaño de un autobús, compartía muchas
              características anatómicas, incluyendo a las espinas y las placas
              traseras, con los otros géneros estegosaurianos.
            </p>
          </div>
          <div class="especie__data__tabla col-12 col-md-5">
            <div class="row justify-content-center">
              <div class="col-12 especie__data__tabla__titulo">INFORMACION</div>
            </div>
            <div class="row align-content-center align-items-center">
              <div class="col-7 col-md-7">
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      Especie:
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">
                      Stegosaurus armatus
                    </p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      Localización
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">
                      Usa, Europa, Asia, Africa
                    </p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">Hábitat</p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">Llanuras</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      alimentación
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">Hervívoro</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">Altura</p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">3 mt</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      Longitud
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">9 mt</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">Peso</p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">3 toneladas</p>
                  </div>
                </div>
              </div>
              <div class="col-5 col-md-5">
                <img
                  src="../multimedia/img/stegosaurus.png"
                  alt="tiranosaurio rex"
                  class="especie__data__tabla__imagen"
                />
              </div>
            </div>
          </div>
        </article>
      </section>
      <section class="especie">
        <h2 class="especie__titulo">Brachiosaurus altithorax</h2>
        <article class="especie__data row justify-content-center">
          <div class="especie__data__info col-12 col-md-7">
            <p class="especie__data__info__parrafo">
              <b>Brachiosaurus altithorax</b> (del griego
              <em>"lagarto brazo de tórax profundo"</em>), lexicalizado como
              braquiosaurio, es la única especie conocida del género extinto
              Brachiosaurus de dinosaurio saurópodo braquiosáurido, que vivió
              durante el Jurásico Superior, hace aproximadamente 154 a 153
              millones de años, en lo que es hoy Norteamérica. Fue descrita por
              primera vez por Elmer S. Riggs en 1903 a partir de fósiles
              encontrados en el río del Gran Cañón, ahora Río Colorado del oeste
              de Colorado, en sedimentos de la famosa Formación Morrison,
              Estados Unidos. Brachiosaurus tiene el cuello extremadamente
              largo, un cráneo pequeño y gran tamaño general, todos los cuales
              son rasgos típicos de los saurópodos. Sin embargo, Brachiosaurus
              tiene proporciones que son diferentes de la mayoría de los
              saurópodos, siendo las patas delanteras más largas que las patas
              traseras, característica a la que hace referencia su nombre, y su
              cola era más corta en proporción a su cuello que otros saurópodos
              del Jurásico.
            </p>
            <p class="especie__data__info__parrafo">
              Brachiosaurus es el género que da nombre a la familia
              Brachiosauridae, que incluye a otros saurópodos similares. Gran
              parte de lo que se conoce sobre Brachiosaurus se basa de hecho en
              Giraffatitan brancai, una especie de dinosaurio braquiosáurido de
              la Formación Tendaguru de Tanzania que fue descrito originalmente
              por el paleontólogo alemán Werner Janensch como una especie de
              Brachiosaurus en 1914. Investigaciones posteriores muestran que
              las diferencias entre la especie tipo de Brachiosaurus y el
              material Tendaguru son lo suficientemente significativas para que
              el material de África deba ser colocado en un género propio.
              Varias otras especies potenciales de Brachiosaurus se han descrito
              desde África y Europa, pero se cree que ninguno de ellos
              pertenecía a Brachiosaurus.
            </p>
            <p class="especie__data__info__parrafo">
              <em>Brachiosaurus</em> es uno de los saurópodos más raros de la Formación
              Morrison. El espécimen tipo de B. altithorax sigue siendo el
              ejemplar más completo, y se piensa que solo debe haber un puñado
              de otros especímenes que pertenezcan al género. Brachiosaurus es
              considerado como un alto ramoneador, que probablemente hubiese
              mordisqueado o pellizcado la vegetación de la copa de los árboles
              posiblemente tan alto como 9 metros por encima del suelo. A
              diferencia de otros saurópodos, la representación de pararse sobre
              sus patas traseras en la película Parque Jurásico, es inadecuada.
              Brachiosaurus se ha utilizado como un ejemplo de un dinosaurio que
              era probablemente ectotérmico debido a su gran tamaño y su
              necesidad de alimentación, pero investigaciones más recientes han
              demostrado que habría sido de sangre caliente.
            </p>
          </div>
          <div class="especie__data__tabla col-12 col-md-5">
            <div class="row justify-content-center">
              <div class="col-12 especie__data__tabla__titulo">INFORMACION</div>
            </div>
            <div class="row align-content-center align-items-center">
              <div class="col-7 col-md-7">
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      Especie:
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">
                      Brachiosaurus altithorax
                    </p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      Localización
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">
                      Europa, Norteamérica, África
                    </p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">Hábitat</p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">Bosques</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      alimentación
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">Hervívoro</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">Altura</p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">13 mt</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      Longitud
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">26 - 30mt</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">Peso</p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">60 toneladas</p>
                  </div>
                </div>
              </div>
              <div class="col-5 col-md-5">
                <img
                  src="../multimedia/img/brachiosaurus.png"
                  alt="tiranosaurio rex"
                  class="especie__data__tabla__imagen"
                />
              </div>
            </div>
          </div>
        </article>
      </section>
    </main>
    <footer class="pie row align-items-center">
      <div
        class="col-12 col-md-4 d-flex justify-content-md-start justify-content-center mt-3"
      >
        <a href="../index.html">
          <img
            src="../multimedia/img/logosmall.png"
            alt="Logo de wikisaur"
            class="pie__logo"
          />
        </a>
      </div>
      <div
        class="col-12 col-md-4 d-flex justify-content-center justify-content-center mt-3"
      >
        <h6 class="pie__firma">Design by Nahuel Vignatti - 2022</h6>
      </div>
      <div
        class="col-12 col-md-4 d-flex justify-content-md-end justify-content-center mt-3"
      >
        <section class="pie__social">
          <a href="http://www.facebook.com"
            ><i class="bi bi-facebook pie__social__icon"></i
          ></a>
          <a href="http://www.instagram.com"
            ><i class="bi bi-instagram pie__social__icon"></i
          ></a>
          <a href="https://github.com/nahuel-vignatti/proyecto_final_wikisaur"
            ><i class="bi bi-github pie__social__icon"></i
          ></a>
        </section>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
