<!-- =====================================================================
                                    IMPORTANTE
Este archivo html fue creado para el final de desarrollo web, y lo ensamble para
el proyecto final de JS. Este archivo no cuenta con ninguna implementacion de JS, el archivo que
tiene toda la implementaciond e JS es tienda.html y las respectivas carpetas de JS y su archivo de
css. Existen 2 archivos de css, stylejs.css es el que use para dar formato a las cosas que cree
para el tp final de JS
========================================================================-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Wikisaur historia de los dinosaurios, su evolucion y su extincion"
    />
    <meta
      name="keywords"
      content="WIKI, DINOSAURIOS, DINOSAUR, WIKIPEDIA, JURASSIC, PARK, PREHISTORICO, PREHISTORIC, REX, TRICERATOPS, PALEONTOLOGIA, PELICULAS"
    />

    <title>Wikisaur | Historia de los Dinosaurios</title>

    <link rel="icon" href="../multimedia/img/logosmall.png" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />

    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <nav class="barra container">
        <ul class="barra__lista">
          <div class="row mb-3 justify-content-center">
            <li class="col-6 col-lg-3">
              <h1 class="barra__lista__logo">wikisaur</h1>
            </li>
          </div>
          <div class="row justify-content-center mt-5">
            <li class="col-4 col-lg-2 fs-lg-3 fs-6 mt-3">
              <a href="../index.html" class="barra__lista__links">Home</a>
            </li>
            <li class="col-4 col-lg-2 fs-lg-3 fs-6 mt-3">
              <a href="./history.html" class="barra__lista__links">Historia</a>
            </li>

            <li class="col-4 col-lg-2 fs-lg-3 fs-6 mt-3">
              <a href="./dinosaurs.html" class="barra__lista__links"
                >Especies</a
              >
            </li>
            <li class="col-5 col-lg-3 fs-lg-3 fs-6 mt-3">
              <a href="./paleontology.html" class="barra__lista__links"
                >Paleontologia</a
              >
            </li>
            <li class="col-5 col-lg-2 fs-lg-3 fs-6 mt-3">
              <a href="./tienda.html" class="barra__lista__links">Tienda</a>
            </li>
          </div>
        </ul>
      </nav>
    </header>
    <main>
      <h2 class="historia__titulo">HISTORIA</h2>
      <section class="parrafo">
        <h2 class="parrafo__titulo">Dinosauria</h2>
        <article class="parrafo__info">
          <p class="parrafo__info__texto">
            Los <b>dinosaurios</b> (Dinosauria, del griego
            <em>
              δεινός deinós 'terrible' y σαῦρος sauros 'lagarto': 'lagartos
              terribles'</em
            >) son un grupo de saurópsidos que aparecieron durante el período
            Triásico. Aunque el origen exacto y su diversificación temprana es
            tema de activa investigación, el consenso científico actual sitúa su
            origen entre 231 y 243 millones de años atrás. Fueron los
            vertebrados terrestres dominantes durante 135 millones de años,
            desde el inicio del Jurásico (hace unos 200 millones años) hasta el
            final del Cretácico (hace 66 millones de años), cuando la mayoría de
            los grupos de dinosaurios se extinguieron durante la extinción
            masiva del Cretácico-Paleógeno que puso fin a la Era Mesozoica. El
            registro fósil indica que las aves evolucionaron a partir de
            dinosaurios terópodos durante el período Jurásico y, en
            consecuencia, muchos taxónomos consideran que las aves forman un
            subgrupo dentro de los dinosaurios Algunas aves sobrevivieron a este
            acontecimiento, y sus descendientes continúan el linaje de los
            dinosaurios hasta nuestros días.
          </p>
          <img
            src="../multimedia/img/dinosauria.png"
            alt="historia"
            class="parrafo__info__img"
          />
          <p>
            Los dinosaurios son un grupo diverso de animales desde el punto de
            vista taxonómico, morfológico y ecológico. Usando la evidencia
            fósil, los paleontólogos han identificado cerca de 500 géneros
            distintos y más de mil especies diferentes de dinosaurios no
            avianos. Los dinosaurios están representados en cada continente
            tanto por especies existentes como por restos fósiles.9
          </p>
          <p>
            Algunos son herbívoros, otros carnívoros, ovíparos u omnívoros. Los
            primeros dinosaurios fueron bípedos, pero muchos grupos incluyeron
            especies cuadrúpedas, y algunos podían alternar los dos tipos de
            locomoción. Los cuernos o crestas son comunes a todos los grupos de
            dinosaurios, y algunos grupos desarrollaron modificaciones
            esqueléticas como armaduras óseas y espinas. La evidencia sugiere
            que la puesta de huevos y la construcción de nidos fueron rasgos que
            compartían todos los dinosaurios. Muchos dinosaurios eran de gran
            porte — el dinosaurio saurópodo más grande pudo haber alcanzado una
            longitud de 58 metros y 9,25 metros de altura. Sin embargo, la idea
            de que los dinosaurios no aviares fueron todos gigantescos es un
            error basado en el sesgo de conservación, ya que los huesos grandes
            y fuertes tienen más probabilidad de durar hasta que se fosilicen.
            Muchos dinosaurios eran bastante pequeños: Xixianykus, por ejemplo,
            medía unos 50 cm (centímetros) de largo.
          </p>
        </article>
      </section>
      <section class="parrafo mt-5">
        <h2 class="parrafo__titulo">Orígenes e inicios evolutivos</h2>
        <article class="parrafo__info">
          <div class="row justify-content-center">
            <div class="col-12 col-md-7">
              <p class="parrafo__info__texto">
                Los dinosaurios divergieron de sus ancestros arcosaurios entre
                mediados a finales del período Triásico, aproximadamente 20
                millones de años después de que la extinción masiva del
                Pérmico-Triásico acabara con un estimado del 95 % de toda la
                vida en la Tierra. La datación radiométrica de la formación
                rocosa que contenía los fósiles del género primitivo de
                dinosaurio Eoraptor ha arrojado una fecha de 231.4 millones de
                años, estableciendo su presencia en el registro fósil del
                Triásico. los paleontólogos creen que Eoraptor se parece al
                ancestro común de todos los dinosaurios; es decir, que de ser
                así los primeros dinosaurios eran animales depredadores pequeños
                y bípedos. El descubrimiento de pequeños ornitódiros parecidos a
                dinosaurios como Marasuchus y Lagerpeton en los estratos del
                Triásico Medio de Argentina apoya esta idea; los análisis de los
                fósiles de estos animales sugieren que estos animales eran
                ciertamente pequeños depredadores bípedos. Los dinosaurios
                pueden haber aparecido tan tempranamente como hace 243 millones
                de años, lo que es indicado por los restos de Nyasasaurus de ese
                período, aunque los fósiles conocidos de este animal son
                demasiado fragmentarios como para determinar si en verdad era un
                dinosaurio o un pariente muy cercano de estos.
              </p>

              <p>
                Cuando los dinosaurios aparecieron, ellos no eran los animales
                terrestres dominantes. Los hábitats terrestres eran ocupados por
                varios tipos de arcosauromorfos y terápsidos, como los
                cinodontes y también estaban los rincosaurios. Sus principales
                competidores eran los pseudosuquios, como los etosaurios,
                ornitosúquidos y los rauisuquios, los cuales eran más exitosos
                que los dinosaurios. Muchos de estos animales desaparecerían a
                lo largo del Triásico, en alguno de los dos eventos de extinción
                que hubo. El primero, hace cerca de 215 millones de años, vio la
                desaparación de una gran variedad de arcosauromorfos basales,
                incluyendo a los protorosaurios. Esto fue seguido por la
                extinción masiva del Triásico-Jurásico (hace unos 200 millones
                de años), en la cual se extinguieron varios otros grupos de
                arcosaurios primitivos, como los etosaurios, los ornitosúquidos,
                los fitosaurios y los rauisuquios. Los rincosaurios y los
                dicinodontes sobrevivieron (al menos en algunas áreas) tan
                tardíamente como el inicio del Noriense e inicios del
                Rhaetiense, respectivamente, pero la fecha exacta de sus
                extinciones es incierta. Estas pérdidas dejaron como resultado
                una fauna terrestre compuesta por crocodilomorfos, dinosaurios,
                mamíferos, pterosaurios y tortugas. Los primeros linajes de
                dinosaurios primitivos se diversificaron durante las épocas del
                Carniense y el Noriense en el Triásico, posiblemente al ir
                ocupando los nichos de los grupos que se extinguían.
              </p>
            </div>
            <div class="col-8 col-md-5">
              <img
                src="../multimedia/img/evolucion.png"
                alt="evolucion"
                class="parrafo__info__img"
              />
            </div>
          </div>
        </article>
      </section>
      <section class="parrafo mt-5">
        <h2 class="parrafo__titulo">Extinción</h2>
        <article class="parrafo__info d-flex flex-column align-items-center">
              <p class="parrafo__info__texto">
                El descubrimiento de que las aves son un tipo de dinosaurio
                demostró que en general los dinosaurios no están, de hecho,
                extintos como se dice habitualmente. Sin embargo, todos los
                dinosaurios no aviares, así como muchos grupos de aves se
                extinguieron repentinamente hace aproximadamente 66 millones de
                años. Se ha sugerido que debido a que los pequeños mamíferos,
                squamatas y aves ocuparon los nichos ecológicos aptos para su
                tamaño corporal pequeño, los dinosaurios no aviares nunca
                evolucionaron una diversa fauna de especies de cuerpo pequeño,
                lo que condujo a su caída, cuando se vieron afectados por los
                tetrápodos terrestres de gran cuerpo, como consecuencia del
                evento de extinción masiva. Muchos otros grupos de animales
                también se extinguieron en este momento, incluyendo las amonitas
                (moluscos similares a nautilus), mosasaurios, plesiosaurios,
                pterosaurios, y muchos grupos de mamíferos. De manera
                significativa, los insectos no sufrieron ninguna pérdida
                apreciable en su población, lo que dejó alimento a disposición
                para otros sobrevivientes. Esta extinción masiva se la conoce
                como extinción masiva del Cretácico-Paleógeno. La naturaleza del
                evento que causó esta extinción en masa ha sido ampliamente
                estudiada desde la década de 1970; al siglo XXI, varias teorías
                relacionadas cuentan con el apoyo de los paleontólogos. Aunque
                el consenso es que un evento de impacto fue la causa principal
                de la extinción de los dinosaurios, algunos científicos citan
                otras causas posibles, o apoyan la idea de que una confluencia
                de varios factores fue responsable de la repentina desaparición
                de los dinosaurios del registro fósil.
              </p>
              <img
              src="../multimedia/img/extincion.png"
              alt="Cometa"
              class="parrafo__info__img cometa"
            />
              <p>
                La teoría de la colisión con un asteroide, que fue popularizada
                en 1980 por Walter Alvarez y sus colegas, relaciona la extinción
                de finales del período Cretácico con un impacto con un bólido
                hace aproximadamente 65,5 millones de años. Alvarez y otros
                sugirieron que un aumento repentino de los niveles de iridio,
                registrado en todo el mundo en los estratos rocosos de este
                periodo, era una prueba directa del impacto. La mayoría de
                los indicios sugieren a 2016 que un bólido de entre cinco y
                quince kilómetros de diámetro impactó con la Tierra cerca de la
                península de Yucatán, creando el cráter de Chicxulub, de 170 km
                (kilómetros) de diámetro, y desencadenando la extinción
                masiva. Los científicos no saben con certeza si los
                dinosaurios estaban prosperando o en declive antes del impacto
                astronómico. Algunos científicos sugieren que el meteorito causó
                una bajada de la temperatura atmosférica larga y no natural,
                mientras que otros, en cambio, afirman que habría provocado una
                ola de calor fuera de lo habitual. Algunos científicos proponen
                que el impacto del meteorito provocó extinciones tanto
                directamente (por el calor del impacto meteórico) como
                indirectamente (por un enfriamiento global debido al hecho de
                que la materia eyectada del cráter de impacto reflejaba la
                radiación térmica del Sol). Aunque la velocidad de extinción no
                puede ser inferida solo del registro fósil, varios modelos
                sugieren que la extinción fue extremadamente rápida, siendo de
                horas en lugar de años.1
              </p>
            
            
        </article>
      </section>
    </main>
    <footer class="pie row align-items-center">
      <div
        class="col-12 col-md-4 d-flex justify-content-md-start justify-content-center mt-3"
      >
        <a href="../index.html">
          <img
            src="../multimedia/img/logosmall.png"
            alt="Logo de wikisaur"
            class="pie__logo"
          />
        </a>
      </div>
      <div
        class="col-12 col-md-4 d-flex justify-content-center justify-content-center mt-3"
      >
        <h6 class="pie__firma">Design by Nahuel Vignatti - 2022</h6>
      </div>
      <div
        class="col-12 col-md-4 d-flex justify-content-md-end justify-content-center mt-3"
      >
        <section class="pie__social">
          <a href="http://www.facebook.com"
            ><i class="bi bi-facebook pie__social__icon"></i
          ></a>
          <a href="http://www.instagram.com"
            ><i class="bi bi-instagram pie__social__icon"></i
          ></a>
          <a href="https://github.com/nahuel-vignatti/proyecto_final_wikisaur"
            ><i class="bi bi-github pie__social__icon"></i
          ></a>
        </section>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
