<!-- =====================================================================
                                    IMPORTANTE
Este archivo html fue creado para el final de desarrollo web, y lo ensamble para
el proyecto final de JS. Este archivo no cuenta con ninguna implementacion de JS, el archivo que
tiene toda la implementaciond e JS es tienda.html y las respectivas carpetas de JS y su archivo de
css. Existen 2 archivos de css, stylejs.css es el que use para dar formato a las cosas que cree
para el tp final de JS
========================================================================-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Wikisaur paleontologia, la ciencia que estudia los restos de los dinosaurios para descubrir toda su historia"
    />
    <meta
      name="keywords"
      content="WIKI, DINOSAURIOS, DINOSAUR, WIKIPEDIA, JURASSIC, PARK, PREHISTORICO, PREHISTORIC, REX, TRICERATOPS, PALEONTOLOGIA, PELICULAS"
    />
    <title>Wikisaur | Ciencia Ficción</title>

    <link rel="icon" href="../multimedia/img/logosmall.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />

    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <nav class="barra container">
        <ul class="barra__lista">
          <div class="row mb-3 justify-content-center">
            <li class="col-6 col-lg-3">
              <h1 class="barra__lista__logo">wikisaur</h1>
            </li>
          </div>
          <div class="row justify-content-center mt-5">
            <li class="col-4 col-lg-2 fs-lg-3 fs-6 mt-3">
              <a href="../index.html" class="barra__lista__links">Home</a>
            </li>
            <li class="col-4 col-lg-2 fs-lg-3 fs-6 mt-3">
              <a href="./history.html" class="barra__lista__links">Historia</a>
            </li>

            <li class="col-4 col-lg-2 fs-lg-3 fs-6 mt-3">
              <a href="./dinosaurs.html" class="barra__lista__links"
                >Especies</a
              >
            </li>
            <li class="col-5 col-lg-3 fs-lg-3 fs-6 mt-3">
              <a href="./paleontology.html" class="barra__lista__links"
                >Paleontologia</a
              >
            </li>
            <li class="col-5 col-lg-2 fs-lg-3 fs-6 mt-3">
              <a href="./tienda.html" class="barra__lista__links">Tienda</a>
            </li>
          </div>
        </ul>
      </nav>
    </header>
    <main>
      <h2 class="paleo__titulo">PALEONTOLOGIA</h2>
      <section class="parrafopaleo">
        <h2 class="parrafopaleo__titulo">Definición</h2>
        <article
          class="parrafopaleo__info d-flex flex-column align-items-center"
        >
          <p class="parrafopaleo__info__texto">
            La <b>paleontología</b> (del griego «παλαιος» palaios = antiguo,
            «οντο» onto = ser, «-λογία» -logía = tratado, estudio, ciencia) es
            la ciencia natural que estudia e interpreta el pasado de la vida
            sobre la Tierra a través de los fósiles. Se encuadra dentro de las
            ciencias naturales, posee un cuerpo de doctrina propio y comparte
            fundamentos y métodos con la geología y la biología con las que se
            integra estrechamente. Puede subdividirse en paleobiología,
            tafonomía y biocronología, e intercambia información necesaria con
            otras disciplinas (estudio de la evolución de los seres vivos,
            bioestratigrafía, paleogeografía o paleoclimatología, entre otras).
          </p>
          <p>
            Entre sus objetivos están, además de la reconstrucción de los seres
            vivos que vivieron en el pasado, el estudio de su origen, de sus
            cambios en el tiempo (evolución y filogenia), de las relaciones
            entre ellos y con su entorno (paleoecología, evolución de la
            biosfera), de su distribución espacial y migraciones
            (paleobiogeografía), de las extinciones, de los procesos de
            fosilización (tafonomía) o de la correlación y datación de las rocas
            que los contienen (bioestratigrafía).
          </p>
          <img
            src="../multimedia/img/paleo2.png"
            alt="historia"
            class="parrafopaleo__info__img dino1"
          />
          <p>
            La paleontología tuvo (y tiene) muchísima importancia al permitir
            entender que la Tierra y sus seres vivos están en constante cambio,
            los cuales se remontan muchos miles de millones de años en el
            pasado. Esta comprensión, desarrollada de la mano de los avances en
            el conocimiento de los procesos geológicos, motivó un cambio en la
            percepción del tiempo, dando origen al concepto de "tiempo
            profundo".
          </p>
          <p>
            La paleontología permite entender la actual composición
            (biodiversidad) y distribución de los seres vivos sobre la Tierra
            (biogeografía) —antes de la intervención humana—, ha aportado
            pruebas indispensables para la solución de dos de las más grandes
            controversias científicas del pasado siglo, la evolución de los
            seres vivos y la deriva de los continentes, y, de cara a nuestro
            futuro, ofrece herramientas para el análisis de cómo los cambios
            climáticos pueden afectar al conjunto de la biosfera. Además, la
            paleontología, al generar conocimiento sobre etapas de la historia
            de la Tierra donde los ambientes y los seres vivos fueron muchas
            veces radicalmente diferentes a los que se observan hoy, permite
            desarrollar hipótesis o especular sobre el origen y la potencial
            presencia de vida en otros cuerpos celestes.
          </p>
        </article>
      </section>
      <section class="parrafopaleo mt-5">
        <h2 class="parrafopaleo__titulo">Historia de la Paleontología</h2>
        <article class="parrafopaleo__info">
          <div class="row justify-content-center">
            <div class="col-12 col-md-7">
              <p class="parrafopaleo__info__texto">
                La historia de la paleontología recorre la historia de los
                esfuerzos para entender la historia de la vida en la Tierra a
                través del estudio del registro fósil dejado por organismos
                vivos. Ya que tiene que ver con la comprensión de los organismos
                vivos del pasado, la paleontología puede ser considerada como un
                campo de la biología, pero su desarrollo histórico ha estado
                estrechamente ligado a la geología y el esfuerzo para entender
                la historia de la Tierra misma.
              </p>

              <p>
                En la antigüedad, Jenófanes (570-480 a. C.), Heródoto (484-425
                a. C.), Eratóstenes (276-194 a. C.), y Estrabón (64 a. C.-24 d.
                C.) escribieron acerca de los fósiles de organismos marinos que
                indicaban que su tierra había estado alguna vez bajo el agua.
                Durante la Edad Media, el naturalista persa Ibn Sina (conocido
                como Avicena en Europa) trató a los fósiles en su escrito El
                libro de la curación (1027), en el que propuso una teoría de los
                fluidos petrificantes que Alberto de Sajonia extendería en el
                siglo xiv. El naturalista chino Shen Kuo (1031-1095) propondría
                una teoría del cambio climático basado en evidencia de bambú
                petrificado.
              </p>
              <p>
                En la Europa moderna, el estudio sistemático de los fósiles
                surgió como una parte integral de los cambios en la filosofía de
                la naturaleza que se produjeron durante la Edad de la Razón. La
                naturaleza de los fósiles y su relación con la vida en el pasado
                alcanzó mayor comprensión durante los siglos xvii y xviii; al
                final del siglo xviii la obra de Georges Cuvier decidió un largo
                debate acerca de la realidad de la extinción, lo que llevó al
                surgimiento de la paleontología asociada a la anatomía comparada
                como disciplina científica. El creciente conocimiento del
                registro fósil también jugó un papel creciente en el desarrollo
                de la geología, especialmente de la estratigrafía.
              </p>
              <p>
                En 1822, el término «paleontología» fue acuñado por Henri Marie
                Ducrotay de Blainville (editor de la revista científica francesa
                Journal de physique) para referirse al estudio de los antiguos
                organismos vivos mediante fósiles, y durante la primera mitad
                del siglo xix las actividades geológicas y paleontológicas se
                volvieron más organizadas con el crecimiento de sociedades y
                museos geológicos y con el número creciente de profesionales
                geólogos y especialistas en fósiles. Este hecho contribuyó a un
                rápido aumento del conocimiento acerca de la historia de la vida
                en la Tierra, y a lograr un importante progreso hacia la
                definición de la escala temporal geológica basada en su mayoría
                en evidencia fósil. Dado que el conocimiento de la historia de
                la vida continuó mejorando, se hizo cada vez más evidente que
                existía algún tipo de orden sucesivo durante el desarrollo de la
                vida. Esta afirmación alentaría las teorías evolutivas tempranas
                sobre la transmutación de las especies.
              </p>
              <p>
                Después de que Charles Darwin publicara El origen de las
                especies en 1859, gran parte del enfoque de la paleontología se
                dirigió hacia la comprensión de las vías evolutivas, incluyendo
                la evolución humana y las teorías evolucionistas.
              </p>
              <p>
                Durante la segunda mitad del siglo xix ocurrió una tremenda
                expansión de la actividad paleontológica, especialmente en
                América del Norte. La tendencia continuó durante el siglo xx
                cuando diversas regiones de la Tierra que se abrieron para la
                recolección sistemática de fósiles, como lo demuestra una serie
                de descubrimientos importantes en China, cerca del final del
                siglo xx. Se han descubierto muchas formas transicionales, y
                actualmente se cuenta con abundante evidencia de cómo se
                relacionan todas las clases de vertebrados, gran parte de ella
                en forma de formas de transición. Durante las últimas dos
                décadas del siglo xx aumentó el interés en las extinciones
                masivas y el del papel que juegan en la evolución de la vida en
                la Tierra. También se renovó el interés en la explosión
                cámbrica, durante la cual surgieron los planos corporales de la
                mayoría de los filos animales. El descubrimiento de fósiles de
                la biota de Ediacara y el desarrollo de la paleobiología
                extendieron el conocimiento de la vida mucho antes del Cámbrico.
              </p>
            </div>
            <div class="col-8 col-md-5">
              <img
                src="../multimedia/img/paleo5.png"
                alt="evolucion"
                class="parrafopaleo__info__img"
              />
            </div>
          </div>
        </article>
      </section>
    </main>
    <footer class="pie row align-items-center">
      <div
        class="col-12 col-md-4 d-flex justify-content-md-start justify-content-center mt-3"
      >
        <a href="../index.html">
          <img
            src="../multimedia/img/logosmall.png"
            alt="Logo de wikisaur"
            class="pie__logo"
          />
        </a>
      </div>
      <div
        class="col-12 col-md-4 d-flex justify-content-center justify-content-center mt-3"
      >
        <h6 class="pie__firma">Design by Nahuel Vignatti - 2022</h6>
      </div>
      <div
        class="col-12 col-md-4 d-flex justify-content-md-end justify-content-center mt-3"
      >
        <section class="pie__social">
          <a href="http://www.facebook.com"
            ><i class="bi bi-facebook pie__social__icon"></i
          ></a>
          <a href="http://www.instagram.com"
            ><i class="bi bi-instagram pie__social__icon"></i
          ></a>
          <a href="https://github.com/nahuel-vignatti/proyecto_final_wikisaur"
            ><i class="bi bi-github pie__social__icon"></i
          ></a>
        </section>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
